
@{
    ViewBag.Title = "ContactUs";
}

<h2>Contact Us</h2>
<html><head>
    </head>
      <body>
          <div style="float:left" class="mapouter">
              <div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Louis Rawalpindi&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://piratebay-proxys.com/">Piratebay</a></div>
              <style>
                  .mapouter {
                      position: relative;
                      text-align: right;
                      width: 600px;
                      height: 400px;
                  }

                  .gmap_canvas {
                      overflow: hidden;
                      background: none !important;
                      width: 600px;
                      height: 400px;
                  }

                  .gmap_iframe {
                      width: 600px !important;
                      height: 400px !important;
                  }
              </style>
          </div>
          @*<img style="float:left" src="/images/Capture.PNG" />*@
          <img style="float:left" src="~/images/phnlogo.png" width="40" height="30" />
          <p style="font-size :larger"><a href=Tel:"0128832063"></a> 0128832063</p>
          <br />
        
          <img style="float:left" src="~/images/walogo.png" width="40" height="30" />
          <p style="font-size :larger"> <a href="  https://wa.me/0674003361">0674003361</a></p>
          <p style="font-size :larger"> </p>
          <br />

          <img style="float:left" src="~/images/fblogo.png" width="40" height="30" />
          <p style="font-size :larger"> <a href="https://www.facebook.com/SirbenMok">dazzling smile dental</a></p>
          <br />

          <img style="float:left" src="~/images/inslogo.jpg" width="40" height="30" />
          <p style="font-size :larger">  <a href="https://www.instagram.com/dazzling_smile_dental/">dazzling_smile_dental</a></p>
          <br />

          <img style="float:left" src="~/images/twilogo.png" width="40" height="30" />
          <p style="font-size :larger">  <a href="https://twitter.com/DazzlingSmileZA?t=gTiEY99yyKySZDISKPxs4w&s=09">DazzlingSmileZA</a> </p>
          <br />

          <img style="float:left" src="~/images/emlogo.png" width="40" height="30" />
          <p style="font-size :larger"> <a href=mailto:dentists@dazzlingsmile.co.za>dentists@dazzlingsmile.co.za</a> </p>
          <br />
          <img style="float:left" src="~/images/clogo2.jpg" width="60" height="60" />
          <p style="font-size :larger"> Monday – Friday: 9:00 am – 5:00 pm <br /> Saturday: 9:00 am – 1:00 pm </p>
          <br />
          <p style="font-size: larger"><b>Address:</b> Louis Pasteur Hospital, suite 1130, 374 Francis Baard Street, 0002 Pretoria, South Africa</p>
      </body>
</html>
