
@{
    ViewBag.Title = "Homepage";
}


<html>
<head>
    @*<h2 style="color : black"><center>Homepage</center></h2>*@
    <div ><style type="text/css">
        body {
            background-image: url('/images/hp3.jpg');
            /*background-repeat: no-repeat;
               background-attachment: fixed;*/
            
            background-size: cover;
            margin: 0;
        }
        </style>
    </div>
</head>
    
   <body>
        </body></html>
