
@{
    ViewBag.Title = "ourwork";
}
<html><head>
    <h2 >Our Work</h2>
    @*<style>
        body {
            background-color: ;
        }
    </style>*@
    </head>
      <body>
          
          <img src="~/images/1.jpeg" height="700" width="700" />
          <br />
          <img src="~/images/2.jpeg" height="700" width="700" /><br />
          <img src="~/images/3.jpeg" height="700" width="700" /><br />
          <img src="~/images/4.jpeg" height="700" width="700" /><br />
          <img src="~/images/5.jpeg" height="700" width="700" /><br />
          <img src="~/images/6.jpeg" height="700" width="700" /><br />
          <img src="~/images/7.jpeg" height="700" width="700" /><br />
          <img src="~/images/8.jpeg" height="700" width="700" /><br />
          <img src="~/images/9.jpeg" height="700" width="700" /><br />
      </body>
</html>

