
@{
    ViewBag.Title = "Services";
}

<h2 style="color : black">Services</h2>
<html><head>
    <div>
        <style type="text/css">
            body {
                background-image: url('/images/serv.jpg');
                /*background-repeat: no-repeat;
               background-attachment: fixed;*/
              
                background-size: cover;
                margin: 0;
            }
        </style>
</head>
    <body style="color : black">
       <b>
            <ul style="font-size : x-large"  >
                    
                <li>Dental consultation</li>
                <li>Scale and polish (Cleaning)</li>
                <li>Severe Staining Cleaning</li>
                <li>Fillings</li>
                <li>Tooth Extraction (Removal)</li>
                <li>Root Canal Treatment</li>
                <li>Veneers</li>
                <li>Crown</li>
                <li>Dentures</li>
                <li>Teeth whitening</li>
                <li>Gold</li>
                <li>Silvers</li>
                <li>Braces</li>
            </ul></b>
    </body>
    </html>

